<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>迭代器和for-of循环</title>
</head>
<script>

  var arr = [1,2,3,4,5,6,7,8];
//  20年前js的用法
  for(var i = 0;i<arr.length;i++){
      console.log(arr[i])
  }
  //ES5用法,不需要定义多余变量
  arr.forEach(function (value) {
    console.log(value)
  })
  //for-in用法，千万别这样用，此时的index是字符串"1","2","3",很可能造成"2"+1="21"的情况。总而言之：for-in是为普通对象设计的，如果想获取对象里面属性名，可以用这种方法
  for(var index in arr){
      console.log(arr[index])
  }
//    for-of是最简洁、最直接的遍历数组元素的语法
//    这个方法避开了 for-in 循环的所有缺陷
//    与 forEach()不同的是，它可以正确响应 break、continue 和 return 语句
  for(var value of arr){
    console.log(value)
  }
</script>
<body>
<div>

</div>
</body>
</html>
